/*-----------------------------------------------------------------------------------*/
/* GENERAL
/*-----------------------------------------------------------------------------------*/

body, ._5vb_, ._5vb_ #contentCol {
  background: #f9f9f9!important;
}

/*-----------------------------------------------------------------------------------*/
/* NAVBAR
/*-----------------------------------------------------------------------------------*/

/*home button*/
._4kny._2s24 {
  display: none!important;
}


._4kny._50tm {
  background-color: #3b5998!important;
}

/*-----------------------------------------------------------------------------------*/
/* HOME PAGE
/*-----------------------------------------------------------------------------------*/

/*widgets*/
._4-u2 {
  border-color: #ebebeb!important;
  border-radius: 0px!important;
  box-shadow: 0 4px 6px rgba(0,0,0,0.04), 4px 4px 6px rgba(0,0,0,0.04);
}

/*-----------------------------------------------------------------------------------*/
/* SIDEBAR
/*-----------------------------------------------------------------------------------*/

